In [ ]:
from google.colab import drive
import pandas as pd
import os

# Импорт и сохранение в DataFrame

In [ ]:
subjects = ['proband' + str(i) for i in range(1,16)]

acc_data = pd.DataFrame()

for subject in subjects:
    for f in os.listdir(os.path.join('/content/drive/MyDrive/Colab Notebooks/Data',subject,'data','acc')):
        if f.endswith('.csv'):
          path = os.path.join('/content/drive/MyDrive/Colab Notebooks/Data',subject,'data','acc', f)
          df = pd.read_csv(path, index_col= 'id')
          df['Subject'] = subject
          df['Activity'] = f.split('_')[1]
          df['Body_part'] = f.split('_')[-1].split('.')[0]
          acc_data = pd.concat([acc_data, df])

Меняем время

In [ ]:
acc_data["datetime"] = pd.to_datetime(acc_data["attr_time"], unit="ms")

In [ ]:
acc_data = acc_data.drop('attr_time', axis=1)

# Сохранение

In [ ]:
acc_data.to_csv('/content/drive/MyDrive/Colab Notebooks/all_data_withoutnormaliz.csv')

сохраним базовые активности

In [ ]:
acc_data1 = acc_data[(acc_data['Activity']=='running')| (acc_data['Activity']=='standing') |(acc_data['Activity']=='walking')]

In [ ]:
acc_data1

,attr_x,attr_y,attr_z,Subject,Activity,Body_part,datetime
id,,,,,,,
1,-3.585916,9.165603,0.539892,proband1,running,head,2015-07-04 07:38:09.002
2,-3.438672,9.077616,0.606332,proband1,running,head,2015-07-04 07:38:09.021
3,-3.210625,8.965687,0.752976,proband1,running,head,2015-07-04 07:38:09.042
4,-3.034052,8.980651,0.857124,proband1,running,head,2015-07-04 07:38:09.062
5,-2.876035,9.050681,0.939126,proband1,running,head,2015-07-04 07:38:09.081
...,...,...,...,...,...,...,...
33788,-8.334216,5.079897,0.163404,proband15,running,head,2015-07-18 15:01:05.915
33789,-8.551490,4.990115,0.199317,proband15,running,head,2015-07-18 15:01:05.933
33790,-8.688558,4.890756,0.349553,proband15,running,head,2015-07-18 15:01:05.953
33791,-8.421006,4.831499,0.325611,proband15,running,head,2015-07-18 15:01:05.975
33792,-8.532336,4.729147,0.412401,proband15,running,head,2015-07-18 15:01:05.992

In [ ]:
acc_data1.to_csv('/content/drive/MyDrive/Colab Notebooks/run_walk_stand_notnormaliz.csv')